form{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


#navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: #d63447;
    text-align: center;
    width: 100%;
    display: block;
}

.nav-item{
    margin-top: 15px;
    color: #222831;
}

#footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #ff847c;
    width: 100%;
    display: block;
}

.reg-form{
    padding-top: 3rem;
    text-align: center;
}

