.reg-form {
    margin-top: 10%;
}

form{
    font-family: 'Montserrat', sans-serif;
}

/*
#navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: #d63447;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
}
*/

.nav-item{
    margin-top: 15px;
    color: #222831;
}

.nav-item:hover{

}