form{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body{
    background-color: aliceblue;
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: #1b6ca8;
    text-align: center;
    width: 100%;
    display: block;
}

.nav-item{
    margin-top: 15px;
    color: #222831;
}

#footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #0a97b0;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
}

.reg-form{
    padding-top: 3rem;
    text-align: center;
}

